@import 'base';

@media (max-width: 992px) {
    .prices-section {
        .frame {
            flex-direction: column !important;
            .counter {
                background-image: url('./images/counter-down.svg') !important;
                padding-bottom: 1rem;
            }
            .br {
                visibility: hidden !important ;
            }
            .budget {
                text-align: center !important;
            }
        }
    }
}

.navbar {
    .navbar-brand {
        font-weight: 600;
        font-size: 1rem;
    }
    a {
        font-size: 0.875rem;
        color: $secondary-color !important;
    }
    #navbarToggleExternalContent {
        right: 1rem;
        top: 5rem;
    }
    .mobile-nav {
        background-color: $background-color;
        position: relative !important;
        z-index: 100;
        border: none !important;
        border-radius: 0.5rem;

        margin: 0 !important;
        padding: 0 !important;
        a {
            border-radius: 0.5rem;
            padding: 0.5rem;
            margin: 0.1rem 0.3rem;
        }
        * {
            font-size: 1.5rem;
            &:hover {
                background-color: $background-color - #111111;
            }
        }
        width: #{'max(33.3vw, 250px)'};
    }
}

.btn-primary {
    color: $secondary-color !important;
    background-color: $salmon !important;
    border-color: $salmon !important;
    border-radius: 0.5rem;
    &:hover {
        opacity: 0.9;
    }
}

.button-link {
    color: $link-color !important;
}

.btn-highlighted {
    padding: 1.5rem 3rem !important;
    background: linear-gradient(90deg, #7c3dba 0%, #b448c6 100%);
    color: white !important;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.info-card-section {
    justify-content: space-between;
    h5 {
        padding-bottom: 1rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $primary-color;
        span {
            white-space: pre;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.8rem;
        color: $primary-color;
        span {
            white-space: pre;
        }
    }
}

.section {
    margin: 0;
}

.card {
    max-width: 400px !important;
    text-align: center;
    border: none;
    background-color: transparent;
    h5 {
        padding-bottom: 1rem;
        font-weight: 800;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $primary-color;
        span {
            white-space: pre;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.8rem;
        color: $primary-color;
        span {
            white-space: pre;
        }
    }
}
.tooltip {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: white;
    .tooltip-inner {
        padding: 0.75rem;
        border-radius: 0.5rem;
    }
}

.prices-section {
    .progress {
        width: 80vw;
        height: 0.5rem;
        overflow: visible;
        border-radius: 0.5rem;

        .dot {
            position: relative;
            left: -1rem;
            top: -0.75rem;
            width: 2rem;
            height: 2rem;

            border: solid 0.25rem white;
            border-radius: 50%;

            background-color: $secondary-color;

            &:hover {
            }
        }
        .progress-bar {
            background-color: $secondary-color;
            border-radius: 0.5rem;
        }
    }
    .frame {
        width: 80vw;
        border: solid 1px $secondary-color;
        border-radius: 1.5rem;

        display: flex;
        flex-direction: row;

        .counter {
            flex: 2;
            // width: 140%;
            background-image: url('./images/counter-right.svg');
            background-size: contain;
            background-repeat: no-repeat;

            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-group-vertical {
                // padding-right: 2rem;
                height: 100% !important;
                // position: relative;
                // left: -2rem;
                margin: 0.5rem;
                .btn {
                    height: 50% !important;

                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    margin: 0.125rem;
                    background-color: $aloof-gray;
                    border-radius: 1rem;
                }
            }

            h5 {
                padding: 2rem;
                padding-right: 3rem;
                margin: 0;
                font-weight: 400;
                font-size: 4rem;
                line-height: 4.5rem;
                color: $secondary-color;
            }
        }
        .budget {
            flex: 3;
            margin: auto;
            text-align: left;
            padding: 1rem 0;
            h5 {
                font-weight: 400;
                font-size: 3rem;
                line-height: 3.5rem;
                color: $secondary-color;
                span {
                    font-weight: 400;
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                }
            }
            p {
                padding-left: 0.5rem;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $primary-color;
                span {
                    white-space: pre;
                }
            }
        }
        .br {
            flex: 0.5;
            display: flex;
            justify-content: center;
            .line {
                margin: auto;
                width: 1px;
                height: 90%;
                background-color: $secondary-color;
            }
        }
        .description {
            margin: auto;
            padding: 1rem;

            flex: 2;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: $primary-color;
            opacity: 80%;

            span {
                white-space: pre;
            }
        }
    }
}

.try-it-out-section {
    min-height: 50vh;
    max-height: 1000px;
    background-image: url('./images/try-it-out.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;

    background-position: center;
}
