@import 'base';

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-stack;
}

.col {
    max-height: 1600px;
    max-width: 700px;
    min-width: 375px;
}

.top-container {
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(
        183deg,
        $background-color 90vh,
        white 90.1vh
    );
    color: $primary-color;
    height: auto;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-section {
    min-height: #{'min(90vh, 1600px)'} !important;
    h5 {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 3rem;
        color: $secondary-color;
        span {
            white-space: pre;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $primary-color;
    }
}

.prices-section {
    width: 100vw !important;
    text-align: center;
    h5 {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 3rem;
        color: $secondary-color;
        span {
            white-space: pre;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $primary-color;
    }
}

.image-container {
    max-width: 40vw;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 90vh !important;
        max-height: 1600px;
        width: auto;
        position: absolute;
        left: 0;
        top: 1rem;
    }
}

.background {
    z-index: 100;
    background: linear-gradient(
            181deg,
            white 5%,
            $background-color 5.1%,
            transparent 50%
        ),
        linear-gradient(178deg, $background-color 97%, white 97.1%);
}
