@media (max-width: 992px) {
  .btn-container {
    position: relative;
    left: -12%; }
  .image-col-bg .bg-img {
    left: -12rem !important;
    top: -10rem !important;
    transform: scale(0.7); }
    .image-col-bg .bg-img.left {
      left: -150% !important;
      top: -80% !important; }
      .image-col-bg .bg-img.left.centered {
        left: -130% !important;
        top: -100% !important; }
    .image-col-bg .bg-img.right {
      left: -45% !important;
      top: -90% !important; }
  .navbar {
    background-color: white !important;
    box-shadow: 0px 0.25rem 1.5rem rgba(51, 51, 51, 0.08);
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; }
    .navbar .navbar-brand {
      margin-right: 0 !important;
      max-width: 40% !important;
      line-height: 1.2rem !important; }
      .navbar .navbar-brand p {
        white-space: pre-line !important; }
    .navbar .btn-primary {
      margin: 0 !important; }
  .info-card-section {
    width: 100% !important; }
    .info-card-section h5 {
      padding-right: 1.5rem !important;
      font-size: 1.25rem !important;
      line-height: 140% !important; }
    .info-card-section p {
      font-size: 1rem !important;
      line-height: 160% !important; }
  .card p {
    font-size: 0.875rem !important;
    line-height: 160% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
  .prices-section .col {
    margin: 0 !important;
    padding: 0 !important; }
  .prices-section .frame {
    width: 90vw !important;
    flex-direction: column !important; }
    .prices-section .frame .label.budget-label {
      position: relative !important;
      padding-top: 2rem;
      margin-bottom: 0 !important; }
    .prices-section .frame .counter {
      background-image: url("./images/counter-down.svg") !important;
      margin-top: 1rem;
      padding-bottom: 1rem; }
      .prices-section .frame .counter .btn-group-vertical {
        margin-left: 1rem !important; }
    .prices-section .frame .br {
      visibility: hidden !important; }
    .prices-section .frame .budget {
      text-align: center !important; }
      .prices-section .frame .budget h5 {
        margin-bottom: 0 !important; }
        .prices-section .frame .budget h5 span {
          font-size: 1.5rem !important; }
  .try-it-out-section {
    background-image: none !important;
    background: linear-gradient(181deg, transparent 5%, #572d80 5.1%, transparent 50%), linear-gradient(178deg, #572d80 94%, transparent 94.1%) !important;
    padding: 0 !important;
    padding-bottom: 8rem !important; }
    .try-it-out-section .mobile-image {
      display: block !important; }
      .try-it-out-section .mobile-image .media img {
        min-width: 75%; }
    .try-it-out-section .info-card {
      position: static !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      text-align: center; }
      .try-it-out-section .info-card .order-button {
        margin: 0 !important; } }

.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 1rem;
  color: #5f308b !important;
  margin-left: 4rem; }
  .navbar .navbar-brand p {
    margin: auto; }

.navbar .btn-primary {
  color: white !important; }

.btn-primary {
  color: white !important;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  background-color: #ff6984 !important;
  border-color: #ff6984 !important;
  border-radius: 0.5rem; }
  .btn-primary:hover {
    opacity: 0.9; }

.btn-outline-primary {
  color: #ff6984 !important;
  background-color: transparent !important;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  border-color: #ff6984 !important;
  border-radius: 0.5rem; }
  .btn-outline-primary:hover {
    text-decoration: underline; }

.btn-link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: #2f80ed !important; }

.btn-highlighted {
  padding: 1rem 3rem !important;
  background: linear-gradient(90deg, #7c3dba 0%, #b448c6 100%);
  color: white !important;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem; }

.info-card-section {
  justify-content: space-between;
  width: 80%; }
  .info-card-section h5 {
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #492d9a; }
    .info-card-section h5 span {
      white-space: pre; }
  .info-card-section p {
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 160%;
    color: #333333; }
    .info-card-section p span {
      white-space: pre; }

.section {
  margin: 0; }

.row {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.card {
  max-width: 400px !important;
  text-align: center;
  border: none;
  background-color: transparent; }
  .card h5 {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #333333; }
    .card h5 span {
      white-space: pre; }
  .card p {
    opacity: 0.64;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: #333333; }
    .card p span {
      white-space: pre; }

.image-col-bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/backgrounds/bg_1.svg");
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .image-col-bg .bg-img {
    min-height: 90vh;
    z-index: -1;
    position: absolute;
    left: -9rem;
    top: 0rem; }
    .image-col-bg .bg-img.left {
      max-width: 130vw;
      transform: scale(0.85);
      left: -160%;
      top: -60%; }
      .image-col-bg .bg-img.left.centered {
        left: -137%;
        top: -60%; }
    .image-col-bg .bg-img.right {
      max-width: 130vw;
      transform: scale(0.7);
      left: -45%;
      top: -40%; }

.top-section .image-container {
  transform: scale(0.9);
  position: relative;
  left: -32%;
  top: -98%; }

.prices-section .frame {
  width: 80vw;
  max-width: 1400px;
  border: solid 1px #5f308b;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  position: relative; }
  .prices-section .frame .label {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5f308b;
    background-color: white;
    padding: 0.5rem;
    position: absolute;
    top: -1.25rem; }
  .prices-section .frame .counter {
    flex: 2;
    background-image: url("./images/counter-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .prices-section .frame .counter .btn-group-vertical {
      height: 100% !important;
      margin: 0.5rem;
      margin-left: 0.1rem; }
      .prices-section .frame .counter .btn-group-vertical .btn {
        height: 50% !important;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin: 0.125rem;
        background-color: #ededed;
        border-radius: 1rem; }
    .prices-section .frame .counter input[type="number"]::-webkit-outer-spin-button,
    .prices-section .frame .counter input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .prices-section .frame .counter input[type="number"] {
      -moz-appearance: textfield;
      background-color: transparent;
      border: none;
      font-weight: 400;
      font-size: 4rem;
      line-height: 4.5rem;
      color: #5f308b;
      width: 10rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
      margin: 0; }
      .prices-section .frame .counter input[type="number"]:focus {
        outline: none; }
    .prices-section .frame .counter h5 {
      padding: 2rem;
      padding-right: 3rem;
      margin: 0;
      font-weight: 400;
      font-size: 4rem;
      line-height: 4.5rem;
      color: #5f308b; }
  .prices-section .frame .budget {
    flex: 3;
    margin: auto;
    text-align: left;
    padding: 1rem 0; }
    .prices-section .frame .budget h5 {
      font-weight: 400;
      font-size: 3rem;
      line-height: 3.5rem;
      color: #5f308b; }
      .prices-section .frame .budget h5 span {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3.5rem; }
    .prices-section .frame .budget p {
      padding-left: 0.5rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #333333; }
      .prices-section .frame .budget p span {
        white-space: pre; }
  .prices-section .frame .br {
    flex: 0.5;
    display: flex;
    justify-content: center; }
    .prices-section .frame .br .line {
      margin: auto;
      width: 1px;
      height: 90%;
      background-color: #5f308b; }
  .prices-section .frame .description {
    margin: auto;
    padding: 1rem;
    flex: 2;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #333333;
    opacity: 80%; }
    .prices-section .frame .description span {
      white-space: pre; }

.order-button {
  display: inline-block; }
  .order-button.mobile {
    display: none; }

.try-it-out-section {
  height: auto;
  max-width: 2000px;
  max-width: min(80vw, 2000px) !important;
  background-image: url("./images/try-it-out.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible !important;
  padding: 10rem; }
  .try-it-out-section .mobile-image {
    display: none; }
  .try-it-out-section .info-card {
    position: relative;
    right: 10rem;
    padding-right: 10rem; }
    .try-it-out-section .info-card h5 {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
      color: white; }
    .try-it-out-section .info-card p {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 2rem;
      color: white; }
    .try-it-out-section .info-card .order-button {
      font-weight: 700;
      margin-left: 2rem;
      background: white !important;
      color: #333333 !important; }

.footer {
  opacity: 0.8;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem; }

@media (max-width: 992px) {
  .col {
    min-width: 320px !important; }
  .top-section {
    margin-right: 0 !important;
    margin: auto !important; }
    .top-section.admission {
      min-height: 50vh;
      min-height: min(50vh, 880px) !important;
      height: min(50vh, 880px) !important; }
    .top-section h5 {
      text-align: center !important; }
      .top-section h5 .subtitle {
        display: block;
        padding-top: 1rem !important;
        color: #5f308b !important;
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        font-weight: 700 !important; }
    .top-section p {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
      font-weight: 400 !important;
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
      text-align: center !important; }
    .top-section .btn-container {
      flex-direction: column !important;
      align-items: center !important; }
    .top-section .image-container {
      min-height: 50vh;
      min-height: min(50vh, 880px) !important;
      height: min(50vh, 880px) !important; }
      .top-section .image-container img {
        height: 45vh !important; }
  .prices-section .col p {
    opacity: 0.8;
    font-size: 1.25rem !important;
    line-height: 2rem !important; }
  .prices-section .budget p {
    font-size: 1rem !important; }
  .prices-section .budget .description {
    font-size: 0.875rem !important;
    line-height: 1.5rem !important; }
  .prices-section .order-button {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important; }
  .hero-section .hero-card .card-body p {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important; }
  .hero-section .contact-container {
    width: 100% !important;
    flex-direction: column !important; }
    .hero-section .contact-container div {
      display: flex !important;
      flex-direction: column !important; }
  .background {
    padding-top: 0rem !important;
    padding-bottom: 6rem !important;
    background: linear-gradient(177deg, white 8%, #e9f9ff 8.1%, transparent 50%), linear-gradient(182deg, #e9f9ff 94%, #572d80 94.1%) !important; }
    .background .row {
      padding-bottom: 0;
      padding-top: 4rem; } }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif; }

.col {
  max-height: 1600px;
  max-width: 700px;
  min-width: 375px; }

.top-container {
  width: 100%;
  overflow-x: hidden;
  color: #333333;
  height: auto;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .top-container .navbar {
    max-width: 1400px; }

.top-section {
  min-height: 80vh;
  min-height: min(80vh, 1440px) !important;
  height: min(80vh, 1440px) !important;
  margin-bottom: 3rem; }
  .top-section h5,
  .top-section .subtitle {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 400;
    color: #5f308b; }
    .top-section h5 .bold,
    .top-section .subtitle .bold {
      font-weight: 800; }
  .top-section p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(51, 51, 51, 0.8); }
  .top-section .btn-container {
    display: flex;
    align-items: flex-start; }
  .top-section .pre {
    white-space: pre; }

.prices-section {
  width: 100vw !important;
  text-align: center; }
  .prices-section h5 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #5f308b; }
    .prices-section h5 span {
      white-space: pre; }
  .prices-section p {
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 160%;
    color: #333333; }

.hero-section {
  padding-top: 5rem; }
  .hero-section .hero-card {
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%); }
    .hero-section .hero-card .card-img-top {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      position: absolute;
      top: -4rem; }
    .hero-section .hero-card .card-body {
      margin-top: 4rem;
      text-align: center; }
      .hero-section .hero-card .card-body h5 {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #333333; }
      .hero-section .hero-card .card-body p {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #333333; }
      .hero-section .hero-card .card-body .contact-container {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .hero-section .hero-card .card-body .contact-container div {
          padding: 0.5rem;
          display: flex;
          align-items: center;
          flex-direction: row; }
          .hero-section .hero-card .card-body .contact-container div img {
            padding: 0.5rem; }
          .hero-section .hero-card .card-body .contact-container div a {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.5rem;
            white-space: pre;
            overflow: visible; }

.image-container {
  min-height: 80vh;
  min-height: min(80vh, 1440px) !important;
  height: min(80vh, 1440px) !important;
  max-width: 40vw;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center; }
  .image-container img {
    height: 90vh !important;
    max-height: 1600px;
    width: auto;
    position: absolute;
    left: 0;
    top: 1rem; }

.background {
  padding-bottom: 8rem;
  padding-top: 2rem;
  background: linear-gradient(181deg, transparent 10%, #e9f9ff 10.1%, transparent 50%), linear-gradient(178deg, #e9f9ff 86%, transparent 86.1%); }
